# Unity
MarsHabitatSim/[Ll]ibrary/
MarsHabitatSim/[Tt]emp/
MarsHabitatSim/[Oo]bj/
MarsHabitatSim/[Bb]uild/
MarsHabitatSim/[Bb]uilds/
MarsHabitatSim/[Ll]ogs/
MarsHabitatSim/[Uu]ser[Ss]ettings/
MarsHabitatSim/.vsconfig
MarsHabitatSim/*.csproj
MarsHabitatSim/*.sln

# Web app
web/node_modules/
web/dist/
web/.vite/
*.log

# IDE
.idea/
.vscode/
*.DS_Store

# Study outputs
studies/out/
